/* Technologies Used Area*/

.technologies-used {
    align-items: center;
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
}


/* Technologies Used heading text*/

.technologies-used-heading-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 6%;
    margin-bottom: 4%;
}


/* Technologies Used Content Area*/

.technologies-used-content-area {
    width: 98.6%;
    max-width: 1290px;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 5%;
}


/* Technologies Used icon area */

.technologies-used-icon-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 109px;
    margin-top: 30px;
}


/* heroku-logo */

.heroku-logo {
    width: 6%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/heroku-logo.png');
}


/* python-logo */

.python-logo {
    width: 6.2%;
    height: 76%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/python-logo.png');
}


/* django-logo */

.django-logo {
    width: 11%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/django-logo.png');
}


/* anaconda-logo */

.anaconda-logo {
    width: 14%;
    height: 82%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/anaconda-logo.png');
}


/* react-logo */

.react-logo {
    width: 13.5%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1%;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/react-logo.png');
}


/* ts-logo */

.ts-logo {
    width: 6%;
    height: 68%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/ts-logo.png');
}


/* firebase-logo */

.firebase-logo {
    width: 5%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/firebase-logo.png');
}