decorator==5.1.1
Django==4.2.5
django-background-tasks==1.2.5
django-compat==1.0.15
django-cors-headers==4.2.0
djangorestframework==3.14.0
firebase-admin==6.2.0
h5py==3.9.0
joblib==1.3.2
keras==2.13.1
matplotlib==3.7.2
numpy==1.24.3
pandas==2.1.0
parso==0.8.3
pefile==2023.2.7
python-dotenv==1.0.0
scikit-learn==1.2.2
seaborn==0.12.2
tensorflow-cpu==2.13.0
