/* Global styles */

body {
    background-color: #121721;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


/* Navigation Bar */

nav {
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0%;
    box-sizing: border-box;
}

.page-content {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 2%;
    padding-right: 2%;
    box-sizing: border-box;
}


/* MalDitectist Logo */

.logo {
    width: 480px;
    height: 108px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/MalDitectist_Logo_V2.3_White_Color-edit.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6%;
}


/* Menu icon */

.menu-icon {
    width: 30px;
    height: 30px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/menu-three-bars.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.menu-icon:hover {
    transform: scale(1.2) rotate(180deg);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}


/* File select Area */

.file-select {
    width: 96%;
    max-width: 1290px;
    margin: 0 auto;
}

.file-select__border {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 6px solid #353F53;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Upload Button */

.upload-button {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 40px;
    background: #521CBA;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: background-color 0.3s ease;
}


/* Upload Button Active */

.upload-button.active:hover,
.upload-button.active:hover .upload-icon.active {
    background-color: #29ABE2;
    cursor: pointer;
}


/* upload-icon */

.upload-icon {
    width: 25px;
    height: 25px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/upload-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 16px;
    transition: transform 0.3s ease;
    border-radius: 4px;
}


/* Upload Icon Active Hover */

.upload-icon.active:hover,
.upload-button.active:hover .upload-icon.active {
    transform: scale(1.1);
}


/* Upload Button Disabled */

.upload-button.disabled {
    background: #531cba48;
}


/* Upload Button Disabled Hover */

.upload-button.disabled:hover {
    cursor: not-allowed;
}


/* Upload Icon Disabled Hover */

.upload-icon.disabled:hover {
    transform: none;
    cursor: not-allowed;
}


/* Dropzone container */

.dropzone-container {
    position: relative;
    width: 90%;
}


/* Drop Zone */

.drop-zone {
    box-sizing: border-box;
    width: 100%;
    max-width: 1080px;
    height: 36vh;
    border: 3px dashed #fff;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Drop Zone icon and text area */

.drop-zone__icon-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Drop Zone add-file-Icon */

.add-file-icon {
    width: 50px;
    height: 50px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/add-file-Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


/* Add file icon when a file is selected */

.drop-zone__icon-and-text .add-file-icon.selected {
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/file-selected-icon.png');
}


/* Drop Zone Text */

.drop-zone__text {
    width: 100%;
    max-width: 600px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}


/* Drop Zone Hover */

.drop-zone.hover {
    background-color: rgba(41, 170, 226, 0.205);
    transition: background-color 0.2s ease;
}


/* Drop Zone Selected */

.drop-zone.selected {
    background-color: rgba(41, 170, 226, 0.205);
}


/* Result Area */

.result-area {
    width: 96%;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}


/* Result */

.result {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    margin-bottom: 20px;
}


/* Result Box */

.result-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 1290px;
    height: 370px;
    border: 6px solid #353F53;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


/* Result Box Content */

.result-box-content {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}


/* info-icon in default page result content */

.info-icon {
    width: 70px;
    height: 70px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/info-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


/* Upload A file To See The Result */

.result-box-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

.result-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #ffffff;
    margin-bottom: 20px;
}

.uploading-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

.process-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

.still-processing-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #009F10;
    margin-top: 2;
}

.search-result-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFE600;
    margin-top: 0;
}


/* Uploading and Processing icons */

.spinner {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 14px;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    margin-bottom: 14px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-top: 5px solid #B5B2B2;
    border-right: 5px solid transparent;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


/* Search Result Option */

.search-result {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-button {
    width: 180px;
    height: 40px;
    background: #29ABE2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 15px;
}

.search-button:hover {
    background-color: #521CBA;
    cursor: pointer;
}

.search-button:active {
    background-color: #29ABE2;
    cursor: pointer;
}


/* Warning icon */

.warning-icon {
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/waring-icon-yellow.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.search-result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


/* Warning Message */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.error-icon {
    width: 70px;
    height: 70px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/error-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.error-message-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #BB0000;
    margin-top: 0;
}


/* mlResult - inside the result-box */

.ml-result {
    width: 100%;
    max-width: 1077px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.center-divider {
    width: 7px;
    height: 80%;
    background-color: #353F53;
    margin: 0 auto;
    border-radius: 6px;
}

.prediction-description {
    flex-basis: 50%;
    max-width: 478px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.legitimate-icon-text-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.legitimate-icon {
    width: 120px;
    height: 120px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/legitimate-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.legitimate-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #04D300;
}

.description-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.percentage-values-area {
    flex-basis: 50%;
    max-width: 455px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rf-model-value-box,
.nn-model-value-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rf-text,
.nn-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
}


/*percentage circle with css keyframes animation*/

.single-chart {
    width: 100%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.percentage {
    fill: #dedede;
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
}


/* malware-icon */

.malware-icon {
    width: 120px;
    height: 120px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/malware-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}


/* File is a Malware */

.malware-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF0000;
}