/* Global styles */

body {
    background-color: #121721;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


/* Navigation Bar */

nav {
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0%;
    box-sizing: border-box;
}

.page-content {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 1%;
    padding-right: 2%;
    box-sizing: border-box;
}


/* MalDitectist Logo */

.logo {
    width: 453px;
    height: 105px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/logos/MalDitectist_Logo_V2.3_White_Color-edit.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* Menu icon */

.menu-icon {
    width: 30px;
    height: 30px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/menu-three-bars.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5%;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}


/* Steps and Description Area */

.steps-and-description {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 3%;
}

.steps-and-description__description {
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 280;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.steps-and-description__step {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
}

.steps-and-description__step--1 {
    margin-top: 40px;
}

.steps-and-description__step--2 {
    margin-top: 20px;
}

.steps-and-description__step--3 {
    margin-top: 20px;
}

.steps-and-description__step-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.steps-and-description__step-content {
    font-style: normal;
    font-weight: 280;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}


/* File select Area */

.top-content-area {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 25px;
}

.file-select {
    width: 96%;
    max-width: 1290px;
    margin: 0 auto;
}

.file-select__border {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 6px solid #353F53;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Upload Button */

.upload-button {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 40px;
    background: #521CBA;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: background-color 0.3s ease;
}


/* Upload Button Active */

.upload-button.active:hover,
.upload-button.active:hover .upload-icon.active {
    background-color: #29ABE2;
    cursor: pointer;
}


/* upload-icon */

.upload-icon {
    width: 25px;
    height: 25px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/upload-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 16px;
    transition: transform 0.3s ease;
    border-radius: 4px;
}


/* Upload Icon Active Hover */

.upload-icon.active:hover,
.upload-button.active:hover .upload-icon.active {
    transform: scale(1.1);
}


/* Upload Button Disabled */

.upload-button.disabled {
    background: #531cba48;
}


/* Upload Button Disabled Hover */

.upload-button.disabled:hover {
    cursor: not-allowed;
}


/* Upload Icon Disabled Hover */

.upload-icon.disabled:hover {
    transform: none;
    cursor: not-allowed;
}


/* Dropzone container */

.dropzone-container {
    position: relative;
    width: 90%;
}


/* Drop Zone */

.drop-zone {
    box-sizing: border-box;
    width: 100%;
    max-width: 1080px;
    height: 40vh;
    border: 3px dashed #fff;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Drop Zone icon and text area */

.drop-zone__icon-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Drop Zone add-file-Icon */

.add-file-icon {
    width: 50px;
    height: 50px;
    background-image: url('https://raw.githubusercontent.com/nimna29/malditectist-assets/main/icons/add-file-Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


/* Drop Zone Text */

.drop-zone__text {
    width: 100%;
    max-width: 600px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}


/* Drop Zone Hover */

.drop-zone.hover {
    background-color: rgba(41, 170, 226, 0.205);
    transition: background-color 0.2s ease;
}